.title-img-mobile img {
  /* width: 15vw;
  max-width: 10rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  border: black 5px solid;
  border-radius: 10px; */
  display: none;
}

.title-wrapper-mobile {
  grid-column: 1/-2;
  grid-row: 2/5;
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.main-line-mobile {
  /* border-bottom: black solid 5px;
  grid-column: 1/-1;
  grid-row: 1 / 3; */
  display: none;
}

.header-mobile {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column: 1;
  grid-row: 1;
}

.title-name-mobile {
  font-size: 10vw;
  letter-spacing: 5px;
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.title-desc-mobile {
  font-size: 5.3vw;
  grid-row: -1;
  grid-column: 1/-1;
}

/* .social-media-mobile-wrapper {
  grid-row: 1;
  grid-column: 10/-1;
  align-self: center;
  justify-self: center;
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
} */

@media (max-width: 1000px) {
  .title-name {
    font-size: 4vw;
  }
}