.education-worklife-desktop-wrapper {
  display: grid;
  grid-template-rows: repeat(13, 1fr);
  grid-template-columns: repeat(12, 1fr);
  width: 70vw;
  max-width: 50rem;
  /* background-color: rgb(173, 173, 173); */
}

.education-worklife-desktop-title {
  grid-row: 2;
}