* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h2, h3, h4 {
  letter-spacing: 2px;
}

/* Background colors */

.bg-color-blue {
  background-color: blue;
}

.bg-color-green {
  background-color: rgb(124, 160, 124);
}

/* Font colors */

.font-grey {
  color: #4d4d4d
}

.font-white {
  color: #f1f1f1
}

.font-upper {
  text-transform: uppercase;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.452) 3px 5px 10px;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
}

.desktop-wrapper {
  align-self: center;
  justify-self: center;
}

.social-media-info {
  grid-row: 3;
  grid-column: 4/5;
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: 760px) {}