.education-worklife-desktop-wrapper {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  width: 80vw;
  max-width: 70rem;
  margin: 5rem auto;
  /* background-color: rgb(173, 173, 173); */
}

.education-worklife-desktop-education-wrapper, .education-worklife-desktop-worklife-wrapper {
  padding: 0 3rem;
  justify-self: center;
}

.education-worklife-desktop-education-wrapper {
  text-align: right;
  justify-self: right;
}

.education-worklife-desktop-worklife-wrapper {
  border-left: #454545 solid 1px;
}

.education-worklife-desktop-category-wrapper {
  margin: 2rem 0 0 0;
}

.education-worklife-desktop-category-wrapper h3, .education-worklife-desktop-category-wrapper h4, .education-worklife-desktop-category-wrapper p {
  margin: 0.5rem 0;
}

.education-worklife-desktop-category-wrapper h3 {
  /* font-size: 1vw; */
}

.education-worklife-desktop-category-wrapper h4 {
  /* font-size: 0.9vw; */
  font-weight: 400;
}

.education-worklife-desktop-category-wrapper p, .education-worklife-desktop-category-wrapper li {
  /* font-size: 0.9vw; */
  max-width: 30rem;
  font-weight: 100;
}

.education-worklife-desktop-category-wrapper li {
  margin-left: 0.5rem;
}

.education-worklife-desktop-category-wrapper div {
  margin: 3rem 0 0 0;
}

.education-worklife-desktop-category-wrapper h4 {
  font-weight: 400;
}

.education-worklife-desktop-category-wrapper li {
  margin: 0.5rem 0 0 1rem;
}

.education-worklife-desktop-category-grades-link {
  font-size: smaller;
  font-style: italic;
  text-decoration: underline;
}

.education-worklife-desktop-category-grades-wrapper p {
  align-self: center;
  padding: 0.5rem;
}

.course1-desktop {
  grid-row: 1;
  grid-column: 1;
}

.grade1-desktop {
  grid-row: 1;
  grid-column: 2;
}

.course2-desktop {
  grid-row: 2;
  grid-column: 1;
}

.grade2-desktop {
  grid-row: 2;
  grid-column: 2;
}

.course3-desktop {
  grid-row: 3;
  grid-column: 1;
}

.grade3-desktop {
  grid-row: 3;
  grid-column: 2;
}

.course4-desktop {
  grid-row: 4;
  grid-column: 1;
}

.grade4-desktop {
  grid-row: 4;
  grid-column: 2;
}

.course5-desktop {
  grid-row: 5;
  grid-column: 1;
}

.grade5-desktop {
  grid-row: 5;
  grid-column: 2;
}

.course6-desktop {
  grid-row: 6;
  grid-column: 1;
}

.grade6-desktop {
  grid-row: 6;
}

/* @media (min-width: 1440px) {
  .education-worklife-desktop-worklife-wrapper {
    border-left: none
  }
} */