.navbar-mobile-wrapper {
  position: absolute;
  top: 30vw;
  text-align: right;
  width: 100vw;
  display: none;
}

.navbar-mobile-logo {
  font-size: 5vw;
  z-index: 300;
  margin: 2vw 0;
}

.navbar-mobile-wrapper-inner {
  z-index: 200;
  display: flex;
  justify-content: space-between;
}

.navbar-mobile-menu-wrapper {
  display: none;
}

.navbar-mobile-menu-wrapper-active {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: grid;
  background-color: #fff;
  padding-top: 5rem;
  /* transform: translateX(0%); */
  transition: right 1s;
  overflow-y: none;
}

.navbar-mobile-menu-wrapper ul, .navbar-mobile-menu-wrapper-active ul {
  display: grid;
  height: 100%;
}

.navbar-mobile-menu-wrapper li, .navbar-mobile-menu-wrapper-active li {
  list-style: none;
  text-transform: uppercase;
  text-align: left;
  padding: 5vw;
  font-size: 5vw;
  align-self: center;
}

.burger {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  cursor: pointer;
}

.burger div {
  width: 2rem;
  height: 0.25rem;
  background-color: #454545;
  margin: 0.25rem;
}

.burger-active {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  cursor: pointer;
}

.burger-active div {
  width: 2rem;
  height: 0.25rem;
  background-color: #454545;
  margin: 0.25rem;
}

.burger-active .line1 {
  position: relative;
  top: 0.5rem;
  width: 2rem;
  height: 0.25rem;
  background-color: #454545;
  margin: 0.25rem;
  transform: rotate(45deg);
  transition: ease-in-out 1s;
}

.burger-active .line3 {
  position: relative;
  top: 0;
  transition: ease-in-out 1s;
  width: 2rem;
  height: 0.25rem;
  background-color: #454545;
  margin: 0.25rem;
  transform: rotate(-45deg);
}

.burger-active .line2 {
  display: none;
}