.desktop-navbar ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  text-transform: uppercase;
}

.desktop-navbar {
  width: 70vw;
  max-width: 30rem;
  position: absolute;
  top: 8rem;
  left: 2rem;
}