.desktop-navbar ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  text-transform: uppercase;
}

.desktop-navbar {
  width: 70vw;
  max-width: 30rem;
  position: absolute;
  top: 8rem;
  left: 2rem;
}

.menu-items li {
  cursor: pointer;
  color: #636363;
}

.menu-items li:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  color: #000;
}