.education-worklife-mobile-wrapper {
  display: grid;
  width: 80vw;
  margin: auto;
  grid-gap: 10vw;
}

.education-worklife-mobile-education-title, .education-worklife-mobile-worklife-title {
  font-size: 7vw;
  letter-spacing: 0.5rem;
}

.education-worklife-mobile-education-wrapper div, .education-worklife-mobile-worklife-wrapper div {
  margin-top: 5vw;
  display: grid;
  grid-gap: 0.5rem;
}

.education-worklife-mobile-worklife-wrapper {
  text-align: left;
  justify-self: left;
}

.education-worklife-mobile-education-wrapper {
  border-top: #454545 solid 1px;
  padding-top: 10vw;
}

.education-worklife-mobile-category-wrapper h4 {
  font-weight: 400;
}

.education-worklife-mobile-category-wrapper li {
  margin: 3vw 0 0 6vw;
}

.education-worklife-mobile-category-grades-link {
  font-size: smaller;
  font-style: italic;
  text-decoration: underline;
}

.education-worklife-mobile-category-grades-wrapper p {
  align-self: center;
  padding: 0.5rem;
}

.course1 {
  border-top: black solid 1px;
  grid-row: 1;
  grid-column: 1;
}

.grade1 {
  grid-row: 1;
  grid-column: 2;
}

.course2 {
  grid-row: 2;
  grid-column: 1;
}

.grade2 {
  grid-row: 2;
  grid-column: 2;
}

.course3 {
  grid-row: 3;
  grid-column: 1;
}

.grade3 {
  grid-row: 3;
  grid-column: 2;
}

.course4 {
  grid-row: 4;
  grid-column: 1;
}

.grade4 {
  grid-row: 4;
  grid-column: 2;
}

.course5 {
  grid-row: 5;
  grid-column: 1;
}

.grade5 {
  grid-row: 5;
  grid-column: 2;
}

.course6 {
  border-bottom: black solid 1px;
  grid-row: 6;
  grid-column: 1;
}

.grade6 {
  grid-row: 6;
}