.portfolio-desktop-wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  width: 70vw;
  max-width: 50rem;
}

.portfolio-desktop-wrapper div {
  border: #454545 solid 1px;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.portfolio-desktop-title {
  grid-row: 1;
}

.portfolio-desktop-wrapper div, .portfolio-desktop-title {
  grid-column: 1/-1;
  align-self: center;
}