.portfolio-desktop-wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  width: 70vw;
  max-width: 50rem;
  margin: 5rem auto;
}

.portfolio-desktop-wrapper div {
  border: #454545 solid 1px;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.portfolio-desktop-wrapper div:hover {
  background-color: #f1f1f1;
}

.portfolio-desktop-title {
  grid-row: 1;
  text-transform: uppercase;
}

.portfolio-desktop-wrapper div, .portfolio-desktop-title {
  grid-column: 1/-1;
  align-self: center;
}

.portfolio-link {
  text-decoration: underline;
  margin-top: 1rem;
}