.footer-wrapper {
  text-align: right;
  grid-row: 3;
  grid-column: 1/-1;
  justify-self: right;
  align-self: center;
  margin: auto 1rem;
  display: none;
}

.footer-wrapper h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

@media screen and (max-width: 760px) {
  .footer-wrapper {
    grid-row: 3;
  }
  .footer-wrapper h3 {
    font-size: 4vw;
    margin: 0 0 2rem 0
  }
}