.aboutme-desktop-wrapper {
  width: 80vw;
  max-width: 60rem;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  margin: 5rem auto;
}

.aboutme-desktop-wrapper h3 {
  font-family: 'Helvetica', sans-serif;
  font-weight: 200;
  font-size: 2vw;
  grid-column: 2;
  grid-row: 1;
  text-align: left;
  align-self: center;
  margin: auto 2rem;
  max-width: 30rem;
}

.about-me-desktop-img {
  width: 15rem;
  border: black 5px solid;
  border-radius: 10px;
  grid-column: 1;
  margin: 0 2rem;
  justify-self: center;
}

.about-me-desktop-competence-wrapper {
  display: grid;
  grid-row: 2;
  grid-column: 2;
  grid-gap: 2rem;
  margin: 2rem auto;
  border: #454545 solid 1px;
  padding: 1rem;
  border-radius: 1rem;
  min-width: 28rem;
}

.about-me-desktop-competence-wrapper h3 {
  grid-row: 1;
  grid-column: 1;
  text-transform: uppercase;
  font-weight: 400;
  justify-self: center;
  color: #f1f1f1;
}

.about-me-desktop-competence-wrapper-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 2;
  grid-column: 1;
  grid-gap: 1rem;
}

.about-me-desktop-competence-wrapper-items p {
  color: #f1f1f1;
  justify-self: center;
  cursor: pointer;
}

.about-me-desktop-competence-wrapper-items p:hover {
  text-decoration: underline;
}

.about-me-desktop-competence-wrapper-items p:active {
  font-weight: bold;
}

.about-me-desktop-icon-wrapper {
  display: grid;
  height: 20rem;
}

.about-me-desktop-icon {
  border: none;
  grid-row: 1;
  grid-column: 1;
  width: 10rem;
  justify-self: center;
  align-self: center;
  margin: 1rem auto;
}

.about-me-desktop-icon-wrapper p {
  grid-row: 2;
  justify-self: center;
  font-style: italic;
  cursor: pointer;
  font-size: smaller;
  text-decoration: underline;
}

@media (min-width: 1000px) {
  .aboutme-desktop-wrapper {}
  .aboutme-desktop-wrapper h3 {
    font-size: 1.3rem;
  }
  .aboutme-desktop-wrapper img {}
}